<%= form_for @position, remote: true do |f| %>
  <% @position.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>

  <div class="field">
    <div class="row">
      <div class="small-6 columns">
        <%= f.label :name %>
      </div>
      <div class="small-6 columns">
        <%= f.text_field :name, class: "dropdown-select" %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="small-6 columns">
        <%= f.label :pay_rate_cents %>
      </div>
      <div class="small-6 columns">
        <%= f.text_field :pay_rate_cents, class: "dropdown-select" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <p class="fineprint">
        Fields marked with an * are required.
      </p>
    </div>
  </div>

  <div class="actions" id="position-action-button">
    <%= f.submit class: "button radius add-item-button", id: "create-position-button" %>
  </div>
<% end %>
