<div class="container row">
  <div class="small-6 columns">
    <div class="small-6 columns title">
      <h1>Events</h1>
    </div>

    <!-- Table starts here -->
    <div class="small-12 columns events-table">
      <div class="panel radius list-panel">
        <table class="index-list">
          <tr class="header">
            <th>Name</th>
            <th>Venue</th>
          </tr>
          <!-- Admin section -->
          <% if current_user.admin? %>
            <% @events.each do |event| %>
              <tr>
                <td>
                  <div class="info-cell">
                    <%= link_to event.name, event_path(event) %>
                    <div class="event-times">
                      <%= event.start_time.strftime("%B %e, %l:%M%P") %> -
                      <%= event.end_time.strftime("%B %e, %l:%M%P") %>
                    </div>
                  </div>
                </td>
                <td class="venue-info">
                  <%= link_to event.venue.name, venue_path(event.venue) %></br>
                  <%= event.venue.city %>,</br>
                  <%= event.venue.state %>
                </td>
                <td class="buttons">
                  <%= button_to "Edit", edit_event_path(event), class: "radius-button index-edit", method: :get %>
                  <%= button_to "Delete", event_path(event), class: "radius-button index-delete",
                    method: :delete, action: :destroy,
                    data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          <!-- Admin section ends -->
          <!-- User section -->
          <% elsif user_signed_in? %>
            <tr>
              <td></td>
              <td class="user-index-title">My</td>
              <td class="user-index-title">Events</td>
              <td></td>
            </tr>
            <% current_user.calls.each do |call| %>
              <tr>
                <td><%= link_to call.event.name, event_path(call.event) %></td>
                <td>
                  <%= link_to call.event.venue.name,
                  venue_path(call.event.venue) %>
                </td>
                <td><%= call.event.venue.city %></td>
                <td><%= call.event.venue.state %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td class="user-index-title">Pending</td>
              <td class="user-index-title">Offers</td>
              <td></td>
            </tr>
            <% if @pending_offers %>
              <% @pending_offers.each do |offer| %>
                <tr>
                  <td>
                    <%= link_to offer.event.name, event_path(offer.event) %>
                  </td>
                  <td>
                    <%= link_to offer.event.venue.name,
                    venue_path(offer.event.venue) %>
                  </td>
                  <td><%= offer.event.venue.city %></td>
                  <td><%= offer.event.venue.state %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
          <!-- User section ends -->
        </table>
      </div>
    </div>
  </div>
  <!-- Table ends here -->

  <!-- New Event button starts here -->
  <div class="small-6 columns">
    <div class="container">
      <div class="row valign-middle new-button-row">
        <div class="small-6 columns hire">
          <% if current_user.admin? %>
            <div class="small-12 columns">
              <div id="new-button-container">
                <%= button_to "Add new event", new_event_path,
                  class: "button radius new-button", method: :get %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- New Event button ends here -->

    <!-- Calendar starts here -->
    <div class="panel radius" id="event-calendar-panel">
      <div class="calendar">
        <iframe src="https://www.google.com/calendar/embed?showCalendars=0&amp;
          ;wkst=1&amp;src=hpn70efsttvg2ii168k3mcb6mo%40group.calendar.google.com&amp;
          color=%23853104&amp;ctz=America%2FNew_York" class="events-calendar">
        </iframe>
      </div>
    </div>
  </div>
  <!-- Calendar ends here -->
</div>
