<h1><%= @event.name %></h1>

<p><%= @event.venue.name %></p>
<p><%= @event.venue.street_address %></p>
<% if @event.venue.street_address_2 %>
  <p><%= @event.venue.street_address %></p>
<% end %>
<p><%= "#{@event.venue.city}, #{@event.venue.state}" %></p>
<br>
<p>About this event: <%= @event.description %></p>

<%= button_to "Edit event", edit_event_path(@event), method: :get %>
<%= button_to "Delete event", event_path(@event),
  method: :delete, action: :destroy, data: { confirm: "Are you sure?" } %>

<h5>Positions</h5>
<input type="button" name="add-position-button" value="Add Position" id="add-position-button" />
<div id="add-position-menu">
  <%= form_for [@event, @call], remote: true do |f| %>
    <div class="field">
      <%= f.collection_select(:position_id, @positions, :id, :name, prompt: true) %>
    </div>
    <div class="actions" id="call-action-button">
      <%= f.submit %>
    </div>
  <% end %>
</div>
<% if @event.calls.length >= 1 %>
  <ul id="event-call-list">
    <% @event.calls.each do |call| %>
      <% if call.valid? %>
        <li><%= call.position.name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>


<p>Don't see the position you're looking for?</p>
<input type="button" name="new-position-button" value="Add a new position" id="new-position-button" />
<div id="new-position-form">
  <%= render "./positions/form" %>
</div>

<h5>Vendors</h5>
<%= form_for @offer do |f| %>
  <div class="field">
    <%= f.select(:user_id, @users.collect { |user| [user.full_name, user.id] }, { }, { multiple: true }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
