<h1><%= @event.name %></h1>

<p><%= @event.venue.name %></p>
<p><%= @event.venue.street_address %></p>
<% if @event.venue.street_address_2 %>
  <p><%= @event.venue.street_address %></p>
<% end %>
<p><%= "#{@event.venue.city}, #{@event.venue.state}" %></p>
<br>
<p>About this event: <%= @event.description %></p>

<%= button_to "Edit event", edit_event_path(@event) %>
<%= button_to "Delete event", event_path(@event), action: :destroy %>
