<div id="new-venue-form-2">
  <%= form_for @venue, remote: true do |f| %>
    <% @venue.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :name, class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :name, required: "required" %>
      </div>
    </div>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :street_address, class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :street_address %>
      </div>
    </div>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :street_address_2, value: "Address line 2", class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :street_address_2 %>
      </div>
    </div>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :city, class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :city %>
      </div>
    </div>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :state, class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.select :state, options_for_select(CountryStateSelect::Constant::USA_STATES) %>
      </div>
    </div>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :zip_code, class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :zip_code %>
      </div>
    </div>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :contact_name, class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :contact_name %>
      </div>
    </div>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :contact_phone, class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :contact_phone %>
      </div>
    </div>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :contact_email, class: "label-right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :contact_email %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <p class="fineprint">
          Fields marked with a * are required.
        </p>
      </div>
    </div>

    <div class="actions" id="venue-action-button">
      <%= f.submit %>
    </div>
  <% end %>
</div>
