<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>We have new calls available:</p>
    <div>
      <h2><%= @event.name %></h2>
      <h3>at <%= @event.venue.name %></h3>
      <table>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Position</th>
        </tr>
        <% @calls.each do |call| %>
          <tr>
            <td><%= call.start_time.strftime("%B %e, %Y %l:%M%P") %></td>
            <td><%= call.end_time.strftime("%B %e, %Y %l:%M%P") %></td>
            <td><%= call.position.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <p>Thanks!</p>
  </body>
</html>
